<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "htmlhead" . }}
</head>

<body>
  {{ partial "header" . }}

  <section class="section">
    <div class="container {{ if site.Params.layoutFluid }}is-fluid{{ end }}">
      <div class="columns is-variable is-8">
        <div id="sidebar-navigation" class="column is-3">
          <aside class="menu">
            {{ partial "navigation" . }}
          </aside>
        </div>

        <div class="column {{ if site.Params.enableTOC }}is-7{{ else }}is-9{{ end }}">
          <h1 class="title">{{ .Page.Title }}</h1>

          <div class="content">
            {{ template "main" . }}
          </div>
        </div>

        {{ if site.Params.enableTOC }}
          <div class="column is-2">
            <div class="toc-wrapper">
              {{ .Page.TableOfContents }}
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>

  {{ if site.Params.footer }}
    {{ partial "footer" . }}
  {{ end }}

  {{ template "_internal/google_analytics.html" . }}
</body>

</html>
