<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "htmlhead" . }}
</head>

<body>
  {{ partial "header" . }}

  <section class="section">
    <div class="container is-fluid">
      <div class="columns">
        <div id="sidebar-navigation" class="column is-2">
          <aside class="menu">
            {{ partial "navigation" . }}
          </aside>
        </div>

        <div class="column is-8 is-6-fullhd is-offset-1-fullhd">
          <h1 class="title">{{ .Page.Title }}</h1>

          <div class="content">
            {{ template "main" . }}
          </div>
        </div>

        <div class="column is-2 is-offset-1-fullhd">
          <div class="toc-wrapper">
            {{ .Page.TableOfContents }}
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ if site.Params.footer }}
    {{ partial "footer" . }}
  {{ end }}

  {{ template "_internal/google_analytics_async.html" . }}
</body>

</html>
