.navbar > .container {
    margin: 0 1.5rem;
}

.navbar-item img {
    max-height: 2.5rem;
}

pre {
    font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
    font-size: 13px;
    line-height: 1.6;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    background: #192834;
    color: #4299d7;
    border-radius: 6px;
    padding: 1em;
    overflow: auto
}

.toc-wrapper {
    border-left: 1px solid #dbdbdb;
    padding-left: 12px;
    font-size: .9em;
    line-height: 1.5em;
    position: fixed;

    a {
        border-radius: 2px;
        color: #4a4a4a;
        display: block;
        padding: .3em .75em;

        &:hover {
            background-color: #f5f5f5;
            color: #363636;
        }
    }

    li > ul {
        margin-left: .75em;
    }
}

.menu {
    .menu-list a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .sub-menu {
        display: none;
    }

    .has-children {
        position: relative;
        padding-right: 20px;

        &:after {
            border: 2px solid transparent;
            border-radius: 2px;
            border-right: 0;
            border-top: 0;
            content: " ";
            display: block;
            pointer-events: none;
            transform: rotate(-135deg);
            transform-origin: center;
            height: .5em;
            width: .5em;
            border-color: #999;
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -.25em;
        }

        &.is-active,
        &.has-active {
            &:after {
                transform: rotate(-45deg);
            }

            & + .sub-menu {
                display: block;
            }
        }

        &.is-active {
            &:after {
                border-color: #fff;
            }
        }
    }

}

.tabs {
    ul {
        margin: 0 !important;

        a {
            outline: none !important;
        }
    }
}

.tab {
    margin-bottom: 3em;
}
