{{ $currentPage := . }}
{{ $menus := .Site.Menus }}

<nav id="navbar" role="navigation" aria-label="main navigation">
  <div class="container {{ if site.Params.layoutFluid }}is-fluid{{ end }}">
    <div class="columns is-variable is-8">
      <div class="column is-3-desktop">
        <div class="columns is-mobile is-vcentered">
          <div class="column">
            <a href="{{ if site.Params.navbarLogoURL }}{{ site.Params.navbarLogoURL }}{{ else }}/{{ end }}">
              <img src="{{ site.Params.navbarLogo | relURL }}" alt="">
            </a>
          </div>
          <div class="column is-narrow">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="sidebar-navigation">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="column is-7 is-hidden-touch">
        <div id="navbar-menu" class="navbar-menu">
          <div class="navbar-start">
            {{ range .Site.Menus.main }}
              {{ $active := false }}

              {{ range .Params.sidebar }}
                  {{ $menuID := .menu }}
                  {{ range (index $menus $menuID) }}
                      {{ if or ($currentPage.IsMenuCurrent $menuID .) ($currentPage.HasMenuCurrent $menuID . ) }}
                          {{ $active = true }}
                      {{ end }}
                  {{ end }}
              {{ end }}
              <a href="{{ .URL }}" class="navbar-item {{if $active }}is-active{{end}}">
                {{ .Pre }} {{ .Name }}
              </a>
            {{ end }}
          </div>
        </div>
      </div>

      {{ if .Site.Params.enableSearch }}
        <!-- Search field -->
        <div class="column is-2 is-hidden-touch">
          {{ partial "search" }}
        </div>
      {{ end }}
    </div>

  </div>
</nav>