<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{- template "_internal/opengraph.html" . -}}

<title>{{ .Page.Title }} | {{ .Site.Title -}}</title>
<link rel="icon" href="{{ "favicon.png" | relURL }}" type="image/x-icon">

<!-- Theme stylesheet, you can customize scss by creating `assets/custom.scss` in your website -->
{{- $styles := resources.Get "style.sass" | resources.ExecuteAsTemplate "style.sass" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">

{{- template "_internal/google_analytics_async.html" . -}}

<!-- RSS -->
{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{ if .Site.Params.enableSearch }}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lunr/lunr.js"></script>
{{ end }}
