{{ $currentPage := . }}
{{ $menus := .Site.Menus }}
{{ $sidebarMenus := .Site.Params.sidebarMenus }}

{{ range .Site.Menus.main }}
    {{ $sidebar := .Params.sidebar }}

    {{ range $sidebar }}
        {{ $menuID := .menu }}
        {{ range (index $menus $menuID) }}
            {{ if or ($currentPage.IsMenuCurrent $menuID .) ($currentPage.HasMenuCurrent $menuID . ) }}
                {{ $sidebarMenus = $sidebar }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ range $sidebarMenus }}
    {{ $menuID := .menu }}

    {{ if .label }}
        <p class="menu-label">{{ .label }}</p>
    {{ end }}

    <ul class="menu-list">
        {{ range (index $menus $menuID) }}
        <li>
            <a href="{{ .URL }}" title="{{ .Pre }} {{ .Name }}" class="{{if .Params.expanded }}is-expanded{{end}} {{if $currentPage.IsMenuCurrent $menuID . }}is-active{{end}} {{if $currentPage.HasMenuCurrent $menuID . }}has-active{{end}} {{ if .HasChildren }}has-children{{ end }}" {{if .Params.external }}target="_blank"{{end}}>
                {{ .Pre }} {{ .Name }} {{ .Post }}
            </a>

            {{ if .HasChildren }}
            <ul class="sub-menu">
                {{ range .Children }}
                <li>
                    <a href="{{ .URL }}" title="{{ .Pre }} {{ .Name }}" class="{{ if $currentPage.IsMenuCurrent $menuID . }}is-active{{ end }} {{if $currentPage.HasMenuCurrent $menuID . }}has-active{{end}} {{ if .HasChildren }}has-children{{ end }}" {{if .Params.external }}target="_blank"{{end}}>
                        {{ .Pre }} {{ .Name }} {{ .Post }}
                    </a>

                    {{ if .HasChildren }}
                    <ul class="sub-menu">
                        {{ range .Children }}
                        <li>
                            <a href="{{ .URL }}" title="{{ .Pre }} {{ .Name }}" class="{{ if $currentPage.IsMenuCurrent $menuID . }}is-active{{ end }}" {{if .Params.external }}target="_blank"{{end}}>{{ .Pre }} {{ .Name }} {{ .Post }}</a>
                        </li>
                        {{ end }}
                    </ul>
                    {{ end}}
                </li>
                {{ end }}
            </ul>
            {{ end}}
        </li>
        {{ end }}
    </ul>
{{ end }}
