{{ $.Scratch.Add "index" slice }}

{{ $searchablePages := where .Site.Pages "Params.type" "!=" "search" }}

{{ range $index, $page := $searchablePages }}
  {{ .Scratch.Set "pageData" "" }}
  {{ .Scratch.Set "pageContent" "" }}
  {{ .Scratch.Set "pageURL" "" }}
  {{ .Scratch.Set "pageTag" "" }}


  {{ if gt (len $page.Content) 0 }}
    {{ .Scratch.Set "pageContent" $page.Plain }}
    {{ .Scratch.Set "pageURL" $page.Permalink }}
    {{ if (isset $page.Params "tags") }}
    {{ .Scratch.Set "pageTag" (delimit $page.Params.tags " ; ") }}
    {{ end }}

    {{ .Scratch.Set "pageData" (dict "id" $index "title" $page.Title "url" (.Scratch.Get "pageURL") "content" (.Scratch.Get "pageContent") "tag" (.Scratch.Get "pageTag")) }}

    {{ $.Scratch.Add "index" (.Scratch.Get "pageData") }}
  {{ end }}
{{ end }}

{{ $.Scratch.Get "index" | jsonify }}
